body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

input[type="file"] {
    margin-bottom: 20px;
}

button {
    background-color: #001f3f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: rgba(0, 31, 63, 0.71);
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    button {
        width: 100%;
    }
}