<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create news</title>
    <link th:href="@{/static/css/request.css}" rel="stylesheet">
</head>
<body>
<h1>News Creation</h1>
<form th:action="@{/admin/addNews}" th:object="${newsDTO}" method="post">
    <p>News info:</p>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:value="*{title}" th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" />
    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:value="*{description}" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'" />
    <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>

    <label for="type">Select type:</label>
    <select name="type" id="type" required>
        <th:block th:each="type : ${types}">
            <option th:value="${type}" th:text="${type}"></option>
        </th:block>
    </select>
    <div class="invalid-feedback" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>

    <button type="submit">Add news</button>
</form>
<button><a th:href="@{/main}">Back</a></button>
</body>
</html>