<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link th:href="@{/static/css/ind.css}" type="text/css" rel="stylesheet">
</head>
<body>
<nav>
    <div class="container">
        <div class="menu">
            <ul>
                <li>
                    <a th:href="@{/interpol/users}">Users</a>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Missing</button>
                        <div class="dropdown-content">
                            <a th:href="@{/interpol/curmissing}">Missing now</a>
                            <a th:href="@{/admin/unansweredRequests}">Unanswered requests</a>
                            <a th:href="@{/interpol/newRequest}">Add missing person</a>
                            <a th:href="@{/interpol/finishedMissing}">Finished Cases</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Criminals</button>
                        <div class="dropdown-content">
                            <a th:href="@{/interpol/wanted}">Wanted</a>
                            <a th:href="@{/admin/newCriminal}">Add criminal</a>
                            <a th:href="@{/interpol/finishedCriminals}">Finished Cases</a>
                        </div>
                    </div>
                </li>
                <li>News</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <a class="navbar-brand" th:href="@{/main}" th:text="${username}"></a>
                    <div class="dropdown">
                        <button class="dropbtn">Settings</button>
                        <div class="dropdown-content">
                            <a th:href="@{/user/changeUsername}">Change username</a>
                            <a th:href="@{/user/changeProfile}">Edit firstname, lastname</a>
                            <a th:href="@{/user/changePassword}">Change password</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a th:href="@{/logout}">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>Admin | Interpol</h1>
<h2>News</h2>
</body>
</html>