<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unanswered Requests</title>
    <link th:href="@{/static/css/usersIP.css}" rel="stylesheet">
</head>
<body>
  <h2>Unanswered Requests</h2>
  <table>
      <thead>
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Location</th>
          <th>Missing since</th>
          <th>Other Info</th>
          <th>Reward</th>
          <th></th>
          <th></th>
          <th></th>
      </tr>
      </thead>
      <tbody th:each="el : ${requests}">
      <tr>
          <td th:text="${el.getFirstName}"></td>
          <td th:text="${el.getLastName}"></td>
          <td th:text="${el.getLocation}"></td>
          <td th:text="${el.getMissingSinceDate}"></td>
          <td th:text="${el.getOtherInfo}"></td>
          <td th:text="${el.getReward}"></td>
          <td><form th:action="@{/admin/denyRequest/{id}(id=${el.getId()})}" method="post">
              <button type="submit">Deny</button>
          </form></td>
          <td><form th:action="@{/interpol/editRequest/{id}(id=${el.getId()})}" method="get">
              <button type="submit">Edit</button>
          </form></td>
          <td><form th:action="@{/admin/acceptRequest/{id}(id=${el.getId()})}" method="post">
              <button type="submit">Accept</button>
          </form></td>
      </tr>
      </tbody>
  </table>
  <button><a th:href="@{/main}">Back</a></button>
</body>
</html>