<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criminals Finished Cases</title>
    <link th:href="@{/static/css/lists.css}" rel="stylesheet">
</head>
<body>
    <h2>Criminals Finished Cases</h2>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Location</th>
            <th>Crime</th>
            <th>Wanted since</th>
            <th>Reward</th>
            <th>Status</th>
            <th th:if="${role == 'ADMIN'}"></th>
        </tr>
        </thead>
        <tbody th:each="el : ${finishedCriminals}">
        <tr>
            <td th:text="${el.getFirstName}"></td>
            <td th:text="${el.getLastName}"></td>
            <td th:text="${el.getLocation}"></td>
            <td th:text="${el.getCrime}"></td>
            <td th:text="${el.getWantedSinceDate}"></td>
            <td th:text="${el.getReward}"></td>
            <td th:text="${el.getStatus}"></td>
            <td th:if="${role == 'ADMIN'}">
                <div class="dropdown">
                    <button class="dropbtn">Change status</button>
                    <div class="dropdown-content">
                        <form th:action="@{/admin/criminalStatusArrested/{id}(id=${el.getId()})}" method="post">
                            <button type="submit">Arrested</button>
                        </form>
                        <form th:action="@{/admin/criminalStatusDead/{id}(id=${el.getId()})}" method="post">
                            <button type="submit">Dead</button>
                        </form>
                        <form th:action="@{/admin/criminalStatusNoTrace/{id}(id=${el.getId()})}" method="post">
                            <button type="submit">No trace</button>
                        </form>
                        <form th:action="@{/admin/criminalStatusWanted/{id}(id=${el.getId()})}" method="post">
                            <button type="submit">Wanted</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <button><a th:href="@{/main}">Back</a></button>
</body>
</html>