<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link th:href="@{/static/css/home.css}" rel="stylesheet">
</head>
<body>
<h1>Welcome to the home page!</h1>
<form action="/multiply" method="post">
  <label for="number">Enter a number:</label>
  <input id="number" name="number" required>
  <button type="submit">Multiply</button>
</form>
<img th:src="@{/static/img/img1.jpg}" alt="Spring">
</body>
</html>

<script th:src="@{/static/js/home.js}"></script>