<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acc settings | password</title>
    <link th:href="@{/static/css/signup.css}" type="text/css" rel="stylesheet">
</head>
<body>
<form th:action="@{/user/updatePassword}" th:object="${newPasswordDTO}" method="post">
    <label for="password">New password:</label>
    <input type="password" id="password" name="password" th:value="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" />
    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" th:value="*{confirmPassword}" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'" />
    <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
    <div class="invalid-feedback" th:if="${passMismatch != null}" th:text="${passMismatch}"></div>

    <button type="submit">Update password</button>
</form>
<button><a th:href="@{/main}">Back</a></button>
</body>
</html>