<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acc settings | username</title>
    <link th:href="@{/static/css/signup.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h1>Change username</h1>
<form th:action="@{/user/updateUsername}" th:object="${newUsernameDTO}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:value="*{username}" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" />
    <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <div class="invalid-feedback" th:if="${existingUser != null}" th:text="${existingUser}"></div>
    <button type="submit">Change username</button>
</form>
<button><a th:href="@{/main}">Back</a></button>
</body>
</html>